
*{padding:0; margin:0;}
.draggableMenu {
    list-style: none;
    position: relative;

    perspective: 62px;
}

.draggableMenu .dragItem{
    display: inline-block;
    min-width:200px;
    min-height: 200px;
    border:7px solid white;
    background: lightcyan;
    text-align: center;
}
.draggableMenu .dragItem.DrM-activeItem{
    background: lightblue;
    transition-duration:100ms;
}
.DrM-reorderItem {
    opacity: 0.3;
}
.DrM-reorderItem .DrM-closeBtn{
    opacity: 0;
}

.draggableMenu .dragItem.DrM-activeItem.DrM-draggingItem {
    opacity:1;
    position:relative;
    background: deepskyblue;
    z-index: 99;
}

.draggableMenu .dragItem, .draggableMenu {
    /*-webkit-transform: translate3d(0, 0, 0);*/
    /*-moz-transform: translate3d(0, 0, 0);*/
    /*-ms-transform: translate3d(0, 0, 0);*/
    /*-o-transform: translate3d(0, 0, 0);*/
    /*transform: translate3d(0, 0, 0);*/
}

.DrM-closeBtn{
    position: absolute;
    right:3px;
    top:3px;
    color: #ffffff;
    width: 40px;
    height:40px;
    line-height: 40px;
    border: 4px solid lightgray;
    background: red;
    font-size: 40px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
    transform: scale3D(0,0,0);
    opacity: 0;
    transition:all 600ms ease-in-out;
}
/*.DrM-activeItem .DrM-closeBtn{*/
    /*transform: scale3D(1, 1, 1);*/
/*}*/
.DrM-activeItem.DrM-reorderItem .DrM-closeBtn{
    opacity: 1;
    transform: scale3D(1, 1, 1);
}
.dragItem.DrM-activeItem.DrM-reorderItem.DrM-editingItem .DrM-closeBtn,
.DrM-activeItem.DrM-reorderItem .DrM-closeBtn,
.DrM-editingItem .DrM-closeBtn{
    opacity: 1;
    transform: scale3D(1, 1, 1);
}

/*点击的动画效果*/
.DrM-activeItem{
    /*-webkit-transform:scale3d(1, 1, 1);*/
    /*transform:scale3d(1, 1, 1);*/
}
.DrM-activeItem.DrM-reorderItem {
    /*animation:zoomOutIn 0.5s;*/
    /*-moz-animation:zoomOutIn 0.5s ; /!* Firefox *!/*/
    /*-webkit-animation:zoomOutIn 0.5s; /!* Safari and Chrome *!/*/
    /*-o-animation:zoomOutIn 0.5s; /!* Opera *!/*/
}
.DrM-activeItem.DrM-DraggingItem {
    /*-webkit-transform:scale3d(1.2, 1.2, 1.2);*/
    /*transform:scale3d(1.2, 1.2, 1.2);*/
    /*animation:none 0s 0s;*/
    /*-moz-animation:none 0s 0s ; /!* Firefox *!/*/
    /*-webkit-animation:none 0s 0s ; /!* Safari and Chrome *!/*/
    /*-o-animation:none 0s 0s ; /!* Opera *!/*/
}

/*@keyframes zoomOut {*/
/*0%, 100% {z-index:1; transform: translate3d(0, 0, 0) scale3d(1, 1, 1); opacity: 1}*/
/*50% {z-index:88; transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/

@-webkit-keyframes zoomOutIn{
    0%,100%{opacity:1; z-index:99; -webkit-transform:scale3d(1, 1, 1); transform:scale3d(1, 1, 1);}
    50%{opacity:0.5; z-index:99; -webkit-transform:scale3d(1.2, 1.2, 1.2); transform:scale3d(1.2, 1.2, 1.2);}
}

/*.DrM-activeItem:nth-child(2){*/
    /*animation:pos1 0.3s 0.2s;*/
/*}*/
/*.DrM-activeItem:nth-child(1){*/
    /*animation:pos0 0.3s 0.2s;*/
/*}*/

/*@keyframes pos0 {*/
    /*0%, 100% {z-index:1; transform: translate3d(0, 0, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos1 {*/
    /*0%, 100% {z-index:1; transform: translate3d(214px, 0, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(214px, 0, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos2 {*/
    /*0%, 100% {z-index:1; transform: translate3d(428px, 0, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(428px, 0, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos3 {*/
    /*0%, 100% {z-index:1; transform: translate3d(642px, 0, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(642px, 0, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/

/*@keyframes pos4 {*/
    /*0%, 100% {z-index:1; transform: translate3d(0px, 214px, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(0px, 214px, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos5 {*/
    /*0%, 100% {z-index:1; transform: translate3d(214px, 214px, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(214px, 214px, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos6 {*/
    /*0%, 100% {z-index:1; transform: translate3d(428px, 214px, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(428px, 214px, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/
/*@keyframes pos7 {*/
    /*0%, 100% {z-index:1; transform: translate3d(642px, 214px, 0) scale3d(1, 1, 1); opacity: 1}*/
    /*50% {z-index:88; transform: translate3d(642px, 214px, 0) scale3d(1.2, 1.2, 1.2); opacity: 0.3}*/
/*}*/





/*@keyframes mymove*/
/*{*/
    /*0% {z-index:1; left:0; top:0; width:200px;height:200px;opacity: 1}*/
    /*70% {z-index:1; left:0; top:0; width:200px;height:200px;opacity: 1}*/
    /*80% {z-index:88; left:-10px;top:-10px; width:220px;height:220px;opacity: 0.3}*/
    /*90% {z-index:1; left:0; top:0; width:200px;height:200px;opacity: 1}*/
    /*100% {z-index:1; left:0; top:0; width:200px;height:200px;opacity: 1}*/
/*}*/

/*@-moz-keyframes mymove /!* Firefox *!/*/
/*{*/
    /*0%   {z-index:88; width:200px;}*/
    /*100% {z-index:88; width:300px;}*/
/*}*/

/*@-webkit-keyframes mymove /!* Safari 和 Chrome *!/*/
/*{*/
    /*0%   {z-index:88; width:200px;}*/
    /*100% {z-index:88; width:300px;}*/
/*}*/

/*@-o-keyframes mymove /!* Opera *!/*/
/*{*/
    /*0%   {z-index:88; width:200px;}*/
    /*100% {z-index:88; width:300px;}*/
/*}*/

