.junDrag {
    list-style: none;
    position: relative;
}

.junDrag .dragItem{
    display: inline-block;

    min-width:200px;
    min-height: 200px;
    border:7px solid white;
    background: lightcyan;
    text-align: center;
}
.junDrag .dragItem.active{
    background: lightblue;
}
.junDrag .dragItem.active.host {
    opacity: 0.3
}
.junDrag .dragItem.active.clone {
    opacity:1;
    position:relative;
    background: deepskyblue;
    z-index: 99;
}

.junDrag .dragItem, .junDrag {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.closebtn, .addClose::after {
    position: absolute;
    right:3px;
    top:3px;
    color: #ffffff;
    width: 40px;
    height:40px;
    line-height: 40px;
    border: 4px solid lightgray;
    background: lightcoral;
    font-size: 40px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000;
}
.addClose::after{
    content:"X";
}
